<!DOCTYPE html>
<html ng-app="appName">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="appName.js"></script>
</head>

<body ng-controller="nameOfController as myController">

	<textarea ng-model="myController.message" cols="80" rows="20"></textarea>


    <p align="center">
		<button ng-click="myController.save()">Save</button>
		<button ng-click="myController.clear()">Clear</button>
    </p>

      <ul>
        <li ng-repeat="singleMessage in myController.messages">
          {{singleMessage.text}}
        </li>
      </ul>
</body>
</html>